<button class="{{button_style}}">
  <label for="raw_{{field_name}}">{{field_label}}</label>
  <input id="{{field_id}}" type="text" #date_edit
         value="{{formatted_date}}"
         name="raw_{{field_name}}"
         (keyup.delete)="is_empty(date_edit.value)"
         (keyup.backspace)="validate_date(date_edit.value)"
         (keyup)="validate_date(date_edit.value)"/>
  <p *ngIf="error_found">{{error_message}}</p>
  <input type="hidden" name="{{field_name}}" value="{{db_date_updated}}"/>
</button>

